
@keyframes ants{
    to{
        background-position: 100%;
    }
}
body{
    user-select: none;
}
// var
$color-main: #388bfe;
$utilsWidth: 300px;
$headerHandleHeight: 45px;
*{
    box-sizing: border-box;
}
input{
    border-width: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
}
// extend
.full-block{
    background-color: $color-main;
    color: #fff;
}
.border-block{
    color: $color-main;
    border: 1px solid;
}
// public
*{padding: 0px; margin: 0px;box-sizing: border-box;}
.flex{
    display: flex;
}
.flex-space-x{
    justify-content: space-between;
}
.flex-center-y{
    align-items: center;
}

// export css inner
.al-flex-end-x{
    justify-content: flex-end;
}
.al-flex-center-x{
    justify-content: center;
}
.al-flex-space-between-x{
    justify-content: space-between;
}
.box{
    position: fixed;
    top: -100vw;
    left: -100vh;
    opacity: 0;
}
.loading{
    position: fixed;
    top: -100vw;
    left: -100vh;
    opacity: 0;
}
// start
.div_layout{
    .util_panel{
        background-color: #fbfbfb;
        padding: calc(20px + #{$headerHandleHeight}) 15px;
        .add-layout{
            .layout-svg{
                width: 200px;
                display: inline-block;
                margin-top: 20px;
            }
        }
        .add{
            color: #999;
            >p{
                margin-bottom: 10px;
                .iconfont{
                    color: #555;
                    font-weight: bold;
                    font-size: 16px;
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }
        .footer-bar{
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background-color: #fff;
            box-shadow: 1px 1px 1px rgb(0, 0, 0);
            border-top: 1px solid rgba(0, 0, 0, .1);
            z-index: 9;
            .iconfont{
                padding: 5px 20px;
            }
        }
        .cat-ast{
            position: fixed;
            top: 0px;
            left: 0xp;
            height: 100vh;
            width: 100vw;
            background-color: #fff;
            z-index: 5;
            .ast-show{
                width: 800px;
                max-height: 90vh;
                overflow: auto;
                border: 1px solid rgba(0, 0, 0, .1);
                margin-top: 20px;
            }
            .ast-copy-box{
                margin-top: 20px;
                margin-left: 20px;
                .ast-copy{
                    width: 100px;
                    height: 100px;
                    overflow: auto;
                    border: 1px solid rgba(0, 0, 0, .1);
                }
            }
        }
    }
    .HandleColumn{    
        width: $utilsWidth;
        height: 100vh;
        overflow: auto;
        background-color: #fff;
        transition: width 2s;
        .edit-attribute{
            .slider-text-box{
                .name{
                    width: 5em;
                }
                .slider{
                    width: 150px;
                }
                input{
                    width: 40px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 2px;
                    text-align: center;
                }
            }
            .input-textarea{
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .4);
                border-radius: 2px;
                padding: 8px;
                margin-top: 5px;
            }
            .color-box{
                position: absolute;
            }
            .sketch-color-price-box::after {
                content: '';
                display: block;
                position: absolute;
                width: 0px;
                height: 0px;
                top: 0px;
                right: -14px;
                border: 14px solid;
                border-top-color: #fff;
                border-bottom-width: 0px;
                border-left-color: #fff;
                border-right-color: transparent;
                border-top-width: 14px;
                border-left-width: 5px;
                border-right-width: 16px;
            }
            .sketch-color-price-box::before {
                content: '';
                display: block;
                position: absolute;
                width: 0px;
                height: 0px;
                top: -1px;
                right: -16px;
                border: 0px solid;
                border-top-color: #cacaca;
                border-right-color: transparent;
                border-top-width: 17px;
                border-right-width: 17px;
            }
        }
        .color-set-box{
            .name{
                width: 50px;
            }
            .showCurrentColor{
                display: inline-block;
                width: 35px;
                height: 15px;
                border: 1px solid rgba(0, 0, 0, .1);
                border-radius: 2px;
                margin-left: 10px;
                margin-right: 10px;
            }
            input{
                width: 147px;
                border-width: 0px;
            }
        }
        .button{
            display: inline-block;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 4px;
            @extend .full-block;    
            cursor: pointer;
        }
        .inert-layout-button{
            margin-top: 20px;
        }
        .cloumn{
            margin-left: 20px;
            width: 40px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            text-align: center;
        }
        .button-delect{
            margin-left: 20px;
        }
        .title-name{
            border-bottom: 1px solid rgba(0, 0, 0, .4);
            padding: 10px 20px;
            margin-bottom: 10px;
        }
        .group-title-name{
            line-height: 50px;
            font-size: 16px;
            font-weight: bold;
        }
        .inner{
            padding: 0px 20px;
        }
        .select-button{
            .item{
                display: inline-block;
                line-height: 30px;
                padding: 0 10px;
                border-radius: 4px;
                cursor: pointer;
                color: #fff;
                background: #388bfe;
                margin: 10px 8px;
            }
        }
        .select-text-align{
            margin: 14px 0px;
            img{
                width: 25%;
            }
        }
        .otherInfo{
            padding-left: 20px;
            color: #666
        }
        .no-tree{
            .tip-text{
                color: rgb(102, 102, 102);
                font-weight: 600;
                margin-top: 10px;
                font-size: 14px;
                padding: 10px;
                box-sizing: border-box;
                text-align: center;
            }
            .tip-button{              
                color: rgb(153, 153, 153);
                font-size: 13px;
                margin: 15px 10px 0px;
                padding: 20px;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(221, 221, 221);
                border-image: initial;
                border-radius: 3px;
            }
        }
    }
    .preview{
        padding: 20px;
        .title{
            margin-bottom: 10px;
        }
        .preview-box{
            width: 350px;
            height: 500px;
            border: 1px solid #ccc;
            border-radius: 6px;
            overflow: auto;
        }
        textarea{
            width: 400px;
            height: 400px;
        }
    }
    .DebugLayout{
        flex: auto;
        height: 100vh;
        background-color: #eee;
        padding-top: 50px;
        .header-handle{
            position: fixed;
            top: 0px;
            left: 0px;
            width: calc(100vw - #{$utilsWidth});
            height: $headerHandleHeight;
            background-color: #fff;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            padding-right: 20px;
            padding-left: 20px;
            .save-button{}
        }
        .view-box{
            background: #fff;
            margin: auto;
            .flex{
                position: relative;
                // background-color: rgb(153, 93, 181)!important;
                // background-size: 16px 16px;
                // background-image: linear-gradient(to top right,#ccc 25%,transparent 0,transparent 75%,#ccc 0,#ccc),linear-gradient(to top right,#ccc 25%,transparent 0,transparent 75%,#ccc 0,#ccc);
                // background-position: 0 0,8px 8px;
                // padding: 20px;
                >* {     
                    // border: 1px solid;
                    // border-image: linear-gradient(to right, #fb3 25%, #58a 0, #58a 50%, yellowgreen 0, yellowgreen 75%, rgb(129, 189, 189) 0) 1 1;
                    border: 1px solid transparent;
                    background-image: 
                    linear-gradient(white,white),
                    repeating-linear-gradient(-0deg, rgba(0, 100, 250, .5) 0, rgba(0, 100, 250, .5) 25%, white 25%, white 50%);
                    background-size: 20px 20px;
                    background-clip: padding-box,border-box;
                }
            }
            .item-selected-status{
            }
        }
        .contextMenu-wrap{
            z-index: 100;
            position: fixed;
            background: linear-gradient(to right, #c6c7cf, #f0f0f0);
            box-shadow: 0px 2px 5px #999999;
            border-radius: 4px;
            padding-top: 5px;
            .contextMenu-option{
              padding: 0px 50px 2px 15px;
              min-width: 160px;
              cursor: default;
              font-size: 14px;
              &:hover {
                background: #388bfe;
                color: white;
              }
              &:active {
                color: #b5b7be;
                background: linear-gradient(to top, #555, #444);
              }
            }
            .contextMenu-separator{
              width: 100%;
              height: 1px;
              background: #b5b7be;
              margin: 2px 0;
            }
        }
    }
}