// var
$color-main: #A83030;
// extend
.full-block{
    background-color: $color-main;
    color: #fff;
}
.border-block{
    color: $color-main;
    border: 1px solid;
}
// public
*{padding: 0px; margin: 0px;box-sizing: border-box;}
.flex{
    display: flex;
}
.flex-space-x{
    justify-content: space-between;
}

// export css inner
.al-flex-spce-x{
    justify-content: space-between;
}
.al-flex-end-x{
    justify-content: flex-end;
}
.al-flex-center-x{
    justify-content: center;
}

// start
.div_layout{
    .HandleColumn{
        min-width: 200px;
        height: 100vh;
        background-color: #F0D8C0;
        .button{
            display: inline-block;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 4px;
            @extend .full-block;    
            cursor: pointer;
        }
        .button-delect{
            margin-left: 20px;
        }
        .title-name{
            border-bottom: 1px solid rgba(0, 0, 0, .4);
            padding: 10px 20px;
            margin-bottom: 10px;
        }
        .group-title-name{
            line-height: 50px;
            font-size: 16px;
            font-weight: bold;
        }
        .inner{
            padding: 0px 20px;
        }
    }
    .preview{
        padding: 20px;
        .title{
            margin-bottom: 10px;
        }
        .preview-box{
            width: 350px;
            height: 500px;
            border: 1px solid #ccc;
            border-radius: 6px;
            overflow: auto;
        }
        textarea{
            width: 400px;
            height: 400px;
        }
    }
    .DebugLayout{
        flex: auto;
        height: 100vh;
        background-color: #fff;
        border: 1px solid #ccc;
        .view-box{
            .flex{
                position: relative;
                background-color: rgb(153, 93, 181)!important;
                padding: 20px;
                >* {
                    min-width: 70px;
                    min-height: 70px;
                    background-color: rgb(247, 148, 31);
                    padding: 20px;
                    border: 1px solid #1e1e1e;
                    border-radius: 20px;
                }
            }
            .item-selected-status{
                border: 5px solid  rgba(0, 210, 255, .4);
                box-sizing: border-box;
            }
        }
    }
}